.eventList-card {
  font-size: var(--font-large);
  color: var(--black-font-color);
  font-weight: bolder;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.event-list-container {
  width: 100%;
  overflow-y: auto;
  max-height: 65vh;
  margin-top: 16px;
}
