.App {
  display: grid;

  grid-template-areas:
    "header header"
    "cal todo"
    "footer footer";

  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.App-header {
  background-color: #283635;
  text-align: left;
  justify-content: top;
  font-size: 16px;
  color: #f4efeb;
  grid-area: header;
  padding-left: 16px;
}

.Todo {
  grid-area: todo;
}
