html,
body {
  overflow: hidden;
  height: 100%;
  touch-action: none;
  position: fixed;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4efeb;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
